:root {
  --h1: 5rem;
  --h2: 2.5rem;
  --h3: 2rem;
  --p: 1.5rem;
}
html {
  scroll-behavior: smooth;
  cursor: default;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: relative;
  height: min(100dvh,100vh);
  background-color: lightblue;
  background-image: linear-gradient(rgba(20, 20, 20, 0.5),rgba(32, 32, 32, 0.4)),url('../images/pexels-royal-anwar-450214.jpg');
  background-size: cover;
  background-position: center;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

header {
  position: relative;
}
.hero-navbar {
  width: 100%;
  height: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  /* background-color: lightcoral; */
}

.hero-logo {
  width: 10rem;
  height: auto;
}

.hero-menu {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.hero-nav-links {
  font-size: var(--p);
  font-weight: 600;
}

.hero-heading {
 /* position: absolute;
 top: 50%;
 right: 50%;  */
 display: grid;
 gap: 0.5rem;
 justify-content: center;
 align-items: center;
 margin: 10rem 1rem;
 color: #fff;
 text-align: center;
}
.hero-heading h1 {
  font-size: var(--h1);
  font-weight: 700;
  text-transform: uppercase;
}
.hero-heading h3 {
  font-size: var(--h3);
}

.about-container {
  position: relative;
  color: #fff;
  background-color: #413F3F;
  text-align: center;
}
.about-content {
  position: relative;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
}
.about-content h2 {
  font-size: var(--h2);
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem;
}
.about-content p {
  position: relative;
  font-size: var(--p);
  margin: 0 1rem 1rem 1rem;
}

.portfolio-container {
  background-color: #FFFCFC;
  align-items: center;
  text-align: center;
}
.portfolio-content h2 {
  font-size: var(--h2);
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem;
  color: #348FF9;
}
.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-evenly;
  margin: 0 8rem;
}

@media (max-width: 800px){
  .hero-menu {
    display: none;
  }
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 220px) and (max-width: 599px){
  .hero-menu {
    display: none;
  }
  header {
    height: 60vh;
  }
  .hero-heading {
    margin: 5rem;
  }
  .hero-heading h1 {
    font-size: 3rem;
  }
  .hero-heading h2 {
    margin: 0 0 5rem 0;
  }
  .image-container {
    grid-template-columns: 1fr;
  }
  .contact-container {
    grid-template-columns: 1fr;
    margin: -4rem;
  }
  .contact-me span {
    line-height: 2.5rem;
  }
  .form input, .form textarea {
    width: 90%;
  }
  .portfolio-button {
    margin: 3rem 0 7rem 0;
  }
}

.thumbnail {
  width: 15rem;
  height: 15rem;
}

.portfolio-button {
  background-color: #9E9B9B;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 3rem 0 7rem 0;
  font-size: var(--p);
  border-radius: 2rem;
  cursor: pointer;
}

.portfolio-button:hover,
.contact-button:hover {
  scale: 1.05;
}

.contact-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #785555;
  color: #fff;
  padding: 2rem;
}

@media (min-width: 200px) and (max-width: 800px){
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-button {
    margin: 0 0 5rem 0;
  }
}
@media (min-width: 801px) and (max-width: 1200px){
  .contact-container {
    grid-template-columns: 1fr;
  }
}
.contact-me {
  position: relative;
  display: grid;
  margin: 0 5rem;
  grid-template-columns: 1fr;
  /* background-color: lightblue; */
  justify-content: center;
  align-items: center;
}
.contact-me h2 {
  font-size: var(--h2);
  font-weight: 600;
  margin: 2rem 0 0 0;
}
.contact-me span {
  font-size: var(--p);
}
.contact-me .sns {
  padding: 0 0.5rem;
}
.contact-button {
  font-size: var(--p);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  width: 14rem;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 5rem;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
}
form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5rem 0;
  justify-content: center;
  align-items: center;
}
textarea {
  resize: vertical;
  background-color: #ffffff25;
  padding: 16px 56px 16px 16px;
  margin-bottom: 3%;
  font-size: 0.8rem;
  border: none;
  outline: none;
  width: auto;
  color: #fff;
  font-size: var(--p);
}
input {
  color: #fff;
  padding: 16px 56px 16px 16px;
  margin-bottom: 3%;
  font-size: 0.8rem;
  background: #f1f1f125;
  border: none;
  outline: none;
  width: auto;
  font-size: var(--p);
}

input::placeholder, textarea::placeholder {
  color: #fff;
}

footer {
  position: relative;
  display: flex;
  height: min(13dvh,13vh);
  background-color: #D9D9D9;
  color: #000;
  font-size: var(--p);
  text-align: center;
  justify-content: center;
  align-items: center;
}